.preloader
  animation: rotate-center 1s linear 0s infinite
  image-rendering: auto
  shape-rendering: auto
@keyframes rotate-center
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)